userstory/ScrumMate UserStory Backlogging.json
{
  "name": "ScrumMate UserStory Backlogging",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create_board_from_us",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "rawBody": "={ \"stories_text\": \"...\", \"project_name\": \"Login Project\", \"sprint_capacity\": 20, \"num_sprints\": 3 }"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        0
      ],
      "id": "941cb990-2eb9-4073-b925-18609054ffb9",
      "name": "US Input",
      "webhookId": "6890e8d9-e713-4341-b90e-cdcf2f48e47c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trello.com/1/boards/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=af3a9c8d66e158f96042cec32dc36544"
            },
            {
              "name": "token",
              "value": "ATTA84eae3af48720e9ab0a09a71ceb2e97ae7efce0916eeb50c3a2689467bfd9bd9FC975AF7"
            },
            {
              "name": "name",
              "value": "={{\n(JSON.parse($node[\"LLM Node\"].json[\"response\"]).project_title ) }}\n"
            },
            {
              "name": "defaultList",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        -16
      ],
      "id": "42a83dd3-f21d-4aca-9a8b-4354f93ebed8",
      "name": "Create Board",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Helper: recursively search for a key containing the LLM JSON string\nfunction findResponse(obj) {\n  if (!obj || typeof obj !== \"object\") return null;\n\n  // direct hit: key named \"response\"\n  if (typeof obj.response === \"string\") return obj.response;\n\n  // OAI-style result: choices[0].message.content\n  if (obj.choices && obj.choices[0]?.message?.content) {\n    return obj.choices[0].message.content;\n  }\n\n  // Try any string-like field that looks like JSON\n  for (const key of Object.keys(obj)) {\n    const val = obj[key];\n    if (typeof val === \"string\" && val.trim().startsWith(\"{\")) return val;\n    if (typeof val === \"string\" && val.trim().startsWith(\"[\")) return val;\n\n    // recursively search children\n    if (typeof val === \"object\") {\n      const inner = findResponse(val);\n      if (inner) return inner;\n    }\n  }\n\n  return null;\n}\n\n// STEP 1: Get the entire incoming JSON from the LLM node\nconst llmNode = $node[\"LLM Node\"];   // ← change name if needed\nconst incoming = llmNode.json;\n\n// STEP 2: Extract the JSON string safely\nconst llmRaw = findResponse(incoming);\n\nif (!llmRaw) {\n  throw new Error(\n    \"Could not locate LLM response text. Inspect incoming data from LLM node.\"\n  );\n}\n\n// STEP 3: Parse the JSON\nlet llm;\ntry {\n  llm = JSON.parse(llmRaw);\n} catch (e) {\n  throw new Error(\"LLM returned invalid JSON: \" + e.message + \" — Raw: \" + llmRaw);\n}\n\n// STEP 4: Extract values\nconst num = parseInt(llm.num_sprints || 3, 10);\n\n// Format cleaner\nfunction clean(n) {\n  return (n || \"\")\n    .toString()\n    .replace(/[\\r\\n\\t]+/g, \" \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\n// STEP 5: Build Trello lists\nconst lists = [];\nlists.push({ json: { name: \"Backlog\" } });\n\nfor (let i = 1; i <= num; i++) {\n  lists.push({ json: { name: clean(`Sprint ${i}`) } });\n}\n\nreturn lists;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        176
      ],
      "id": "60cee7d1-c41d-4859-8fb9-d36a3bde42a3",
      "name": "genList"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trello.com/1/lists",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "af3a9c8d66e158f96042cec32dc36544"
            },
            {
              "name": "token",
              "value": "ATTA84eae3af48720e9ab0a09a71ceb2e97ae7efce0916eeb50c3a2689467bfd9bd9FC975AF7"
            },
            {
              "name": "idBoard",
              "value": "={{$items(\"Create Board\")[0].json.id}}"
            },
            {
              "name": "name",
              "value": "={{$json[\"name\"].toString().trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        352
      ],
      "id": "a3911d7d-ea23-43ac-9bf3-08fa62d97dd3",
      "name": "Create List",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trello.com/1/cards",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=af3a9c8d66e158f96042cec32dc36544"
            },
            {
              "name": "token",
              "value": "ATTA84eae3af48720e9ab0a09a71ceb2e97ae7efce0916eeb50c3a2689467bfd9bd9FC975AF7"
            },
            {
              "name": "idList",
              "value": "={{ $json.idList}}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "desc",
              "value": "={{ $json.desc }}"
            },
            {
              "name": "pos",
              "value": "={{ $json.pos}}"
            },
            {
              "name": "due",
              "value": "={{ $json.due}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        160
      ],
      "id": "430e02e8-f214-4fff-97d1-fa15bdfe813e",
      "name": "Create Card"
    },
    {
      "parameters": {
        "jsCode": "// ------------------------\n// mapLists Function Node (robust and simple)\n// ------------------------\n\n// 1) Build availableLists from incoming Trello Create List outputs\nconst itemsIn = $input.all();\nconst availableLists = {};\nitemsIn.forEach(it => {\n  const list = it.json;\n  if (list && list.name && list.id) {\n    const key = list.name.toString().toLowerCase().replace(/\\s+/g, '');\n    availableLists[key] = list.id;\n  }\n});\nconsole.log('availableLists keys:', Object.keys(availableLists));\n\n// 2) Helper: try to find the ParseLLM node (allow several common names)\nfunction getParseNode() {\n  const candidates = [\"ParseLLM\", \"LLM Parse\", \"Parse LLM\", \"parseLLM\", \"parseLlm\"];\n  for (const name of candidates) {\n    try {\n      const n = $node[name];\n      if (n) return n;\n    } catch(e) {}\n  }\n  // fallback try exact known\n  try { return $node[\"ParseLLM\"]; } catch(e){}\n  return null;\n}\n\n// 3) Extract stories array safely\nlet parseNode = getParseNode();\nlet stories = [];\n\nif (!parseNode) {\n  console.warn(\"ParseLLM node not found. Make sure the node name is correct.\");\n} else {\n  const pj = parseNode.json;\n  // pj may be an array or an object\n  let data = pj;\n  if (Array.isArray(pj) && pj.length) data = pj[0];\n\n  // case A: already parsed shape { project_title, stories: [...] }\n  if (data && Array.isArray(data.stories)) {\n    stories = data.stories;\n  } else if (data && typeof data.response === \"string\") {\n    // case B: response is a JSON string -> parse\n    try {\n      const parsed = JSON.parse(data.response);\n      if (parsed && Array.isArray(parsed.stories)) stories = parsed.stories;\n      else if (parsed && Array.isArray(parsed)) stories = parsed; // in case it's raw array\n    } catch (e) {\n      console.warn(\"Could not JSON.parse(parseNode.json.response):\", e.message);\n    }\n  } else if (data && typeof data === \"object\") {\n    // fallback: try to find a property that is an array of stories\n    for (const k of Object.keys(data)) {\n      if (Array.isArray(data[k]) && data[k].length && data[k][0].id) {\n        stories = data[k];\n        break;\n      }\n      if (Array.isArray(data[k]) && data[k].length && typeof data[k][0] === 'object') {\n        // last resort take first array\n        stories = data[k];\n        break;\n      }\n    }\n  }\n}\n\nconsole.log(\"Extracted stories count:\", stories.length);\n\n// 4) Map stories to Trello lists\nconst mapped = stories.map(story => {\n  // ensure story exists and has id\n  const sid = story && story.id ? story.id : null;\n\n  // determine desired list key: sprintN or backlog\n  let listKey;\n  if (typeof story?.sprint === \"number\" && !Number.isNaN(story.sprint)) {\n    listKey = `sprint${story.sprint}`;\n  } else {\n    listKey = 'backlog';\n  }\n  const cleanKey = listKey.toLowerCase().replace(/\\s+/g, '');\n\n  // choose list id (fallback to backlog id or null)\n  const listId = availableLists[cleanKey] || availableLists['backlog'] || null;\n  if (!listId) console.warn(`No Trello list id found for key '${cleanKey}' (story ${sid})`);\n\n  // return item for downstream Trello create-card or other nodes\n  return {\n    json: {\n      ...story,\n      listId\n    }\n  };\n});\n\n// 5) Always return an array (could be empty, but not undefined)\nconsole.log(\"Mapped stories ready:\", mapped.length);\nreturn mapped;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        176
      ],
      "id": "4736eb1c-b065-4a4b-aaf7-788d4c63b777",
      "name": "mapLists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ------------------------\n// formatCardData Function Node\n// ------------------------\n\n// Get all input stories\nconst items = $input.all();\n\n// Map stories to Trello card data\nreturn items.map((item, index) => {\n  const story = item.json;\n\n  // Compute due date: estimate days from now, fixed time 12:00 UTC\n  const dueDate = new Date();\n  dueDate.setDate(dueDate.getDate() + (story.estimate || 3));\n  const dueDateFormatted = dueDate.toISOString().split('T')[0] + 'T12:00:00.000Z';\n\n  // Build description without duplicating acceptance criteria\n  const description = [\n    `Role: ${story.role}`,\n    `Goal: ${story.goal}`,\n    `Benefit: ${story.benefit}`,\n    `Estimate: ${story.estimate} days`,\n    `Priority: ${story.priority}`,\n    `Tags: ${story.tags && story.tags.length ? story.tags.join(', ') : 'None'}`,\n    `Dependencies: ${story.dependencies && story.dependencies.length ? story.dependencies.join(', ') : 'None'}`\n  ].join('\\n');\n\n  return {\n    json: {\n      // Trello card fields\n      idList: story.listId || (story.availableLists ? story.availableLists.backlog : null),\n      name: `${story.id}: ${story.title}`,\n      desc: description,\n      due: dueDateFormatted,\n      pos: index + 1, // maintain order\n\n      // Preserve full story data including acceptance criteria\n      originalStory: {\n        project_title: story.project_title,\n        id: story.id,\n        title: story.title,\n        role: story.role,\n        goal: story.goal,\n        benefit: story.benefit,\n        acceptance_criteria: story.acceptance_criteria || [],\n        priority: story.priority,\n        estimate: story.estimate,\n        dependencies: story.dependencies || [],\n        assignee: story.assignee || \"\",\n        tags: story.tags || [],\n        sprint: story.sprint || null,\n        listId: story.listId || null\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        16
      ],
      "id": "0c9f4770-420b-407c-8595-1b60d1974ab0",
      "name": "formatCardData"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trello.com/1/checklists",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "af3a9c8d66e158f96042cec32dc36544"
            },
            {
              "name": "token",
              "value": "ATTA84eae3af48720e9ab0a09a71ceb2e97ae7efce0916eeb50c3a2689467bfd9bd9FC975AF7"
            },
            {
              "name": "idCard",
              "value": "={{ $json.query.idCard }}"
            },
            {
              "name": "=name",
              "value": "={{ $json.query.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        16
      ],
      "id": "7c75d5aa-a3c5-4cd7-9edc-141b248241bd",
      "name": "Add Checklist",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.flatMap(item => {\n  const mergedData = item.json;\n  const cardId = mergedData.id;\n  const acceptanceCriteria = mergedData.originalStory?.acceptance_criteria || [];\n  \n  console.log(`Creating checklist for card: ${cardId}`);\n  \n  if (acceptanceCriteria.length === 0) return [];\n  \n  // Create requests: first the checklist, then all items\n  const requests = [];\n  \n  // 1. Checklist creation request\n  requests.push({\n    json: {\n      method: 'POST',\n      url: 'https://api.trello.com/1/checklists',\n      query: {\n        idCard: cardId,\n        name: \"Acceptance Criteria\"\n      },\n      // IMPORTANT: Store the data for checklist items\n      _cardId: cardId,\n      _acceptanceCriteria: acceptanceCriteria\n    }\n  });\n  \n  return requests;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        176
      ],
      "id": "b1ffe44f-33f0-4c10-b08d-50466369ffdf",
      "name": "Checklist Request"
    },
    {
      "parameters": {
        "jsCode": "const createdCards = $input.all(); // Output from HTTP Create Cards\nconst originalData = $('formatCardData').all(); // Output from your format function\n\nconsole.log('Created cards count:', createdCards.length);\nconsole.log('Original data count:', originalData.length);\n\n// Merge the Trello response with our original data\nconst mergedData = createdCards.map((cardItem, index) => {\n  const cardResponse = cardItem.json;\n  const originalStory = originalData[index]?.json?.originalStory;\n  \n  console.log(`Merging card ${index + 1}:`, {\n    cardId: cardResponse.id,\n    cardName: cardResponse.name,\n    hasOriginalStory: !!originalStory,\n    acceptanceCriteria: originalStory?.acceptance_criteria || 'NONE'\n  });\n  \n  return {\n    json: {\n      // Trello card data\n      ...cardResponse,\n      // Our original story data\n      originalStory: originalStory\n    }\n  };\n});\n\nconsole.log('Final merged data:', JSON.stringify(mergedData, null, 2));\nreturn mergedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        368
      ],
      "id": "3fe514cd-962f-4151-95fe-0188ddd2f8bb",
      "name": "MergeCardData"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// We need to get data from TWO previous nodes:\n// - HTTP Create Checklist output (checklist IDs)\n// - Function CreateChecklistWithData output (acceptance criteria)\n$('Checklist Request').first().json.method\nconst checklistResponses = items;\nconst originalRequests = $('Checklist Request').all();\n\nconsole.log('Checklist responses:', checklistResponses.length);\nconsole.log('Original requests:', originalRequests.length);\n\nconst results = [];\n\nchecklistResponses.forEach((checklistItem, index) => {\n  const checklistResponse = checklistItem.json;\n  const checklistId = checklistResponse.id;\n  \n  // Find the matching original request to get acceptance criteria\n  const originalRequest = originalRequests[index];\n  const acceptanceCriteria = originalRequest?.json?._acceptanceCriteria || [];\n  \n  console.log(`Checklist ${checklistId} has ${acceptanceCriteria.length} items to add`);\n  \n  if (acceptanceCriteria.length === 0) return;\n  \n  // Create a request for each acceptance criteria\n  acceptanceCriteria.forEach((criteria, itemIndex) => {\n    results.push({\n      json: {\n        method: 'POST',\n        url: `https://api.trello.com/1/checklists/${checklistId}/checkItems`,\n        query: {\n          name: criteria,\n          pos: itemIndex\n        }\n      }\n    });\n  });\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        192
      ],
      "id": "a97ba56e-e032-454c-8794-06111f0ff566",
      "name": "PrepareChecklistItems"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.query.name }}"
            },
            {
              "name": "pos",
              "value": "={{ $json.query.pos }}"
            },
            {
              "name": "key",
              "value": "af3a9c8d66e158f96042cec32dc36544"
            },
            {
              "name": "token",
              "value": "ATTA84eae3af48720e9ab0a09a71ceb2e97ae7efce0916eeb50c3a2689467bfd9bd9FC975AF7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1520,
        368
      ],
      "id": "a48e94aa-d869-4c0f-9ef9-6dde80011bb4",
      "name": "AddChecklistItems"
    },
    {
      "parameters": {
        "jsCode": "// Function node: build prompt + bodyForOllama\n// Returns: { prompt, bodyForOllama } as json for next node\n\n// Robust reader (handles webhook shape you showed)\nfunction readRawFromItem(item) {\n  if (!item || !item.json) return \"\";\n  // preferred explicit field(s)\n  if (typeof item.json.userStories === 'string') return item.json.userStories;\n  if (item.json.body && typeof item.json.body.userStories === 'string') return item.json.body.userStories;\n  if (typeof item.json.stories_text === 'string') return item.json.stories_text;\n  if (typeof item.json.body === 'string') return item.json.body;\n  if (typeof item.json.rawBody === 'string') return item.json.rawBody;\n\n  // if whole json is a single string value\n  const keys = Object.keys(item.json || {});\n  if (keys.length === 1 && typeof item.json[keys[0]] === 'string') {\n    return item.json[keys[0]];\n  }\n\n  // binary fallback\n  if (item.binary) {\n    const bkeys = Object.keys(item.binary);\n    if (bkeys.length) {\n      const bin = item.binary[bkeys[0]];\n      if (bin && bin.data) {\n        return Buffer.from(bin.data, 'base64').toString('utf8');\n      }\n    }\n  }\n\n  try {\n    return JSON.stringify(item.json);\n  } catch (e) {\n    return \"\";\n  }\n}\n\n// --- Get raw stories from the first input item ---\nconst item = items[0]; // n8n Function node uses `items`\nconst rawStories = (readRawFromItem(item) || \"\").trim();\n\nif (!rawStories) {\n  throw new Error(\"No user stories found in incoming item. Look for body.userStories or stories_text in the previous node output.\");\n}\n\n// --- Optional: normalize into an array if you want (not required for prompt) ---\nfunction toArrayIfMultiline(text) {\n  // If it's a single long string with multiple US- entries keep it as-is for prompt.\n  // But we also produce a short list for debug/summary if needed.\n  const lines = text.split(/\\r?\\n/).map(s => s.trim()).filter(Boolean);\n  // heuristics: group lines starting with *US- or \"As a\" -> keep as raw\n  return lines;\n}\nconst storyLines = toArrayIfMultiline(rawStories);\n\n// --- Build the prompt (ensures rawStories are included) ---\nconst prompt = `You are an expert Scrum Master AI and JSON extractor.\n\nRequirements:\n- Create a \"project_title\" inferred from the user stories.\n- Decide an appropriate \"sprint_capacity\" (number) and \"num_sprints\" between 3 and 5.\n- Extract each user story into objects with EXACT fields:\n  id, project_title, title, role, goal, benefit,\n  acceptance_criteria (array of strings), priority (Low|Medium|High),\n  estimate (number), dependencies (array), assignee (string),\n  tags (array), sprint.\n\nRules:\n- Tags: if story contains design/mock/style/palette/mockup -> add \"design\"\n- If story mentions branch/PR/git/screenshot/push -> add \"dev\"\n- If story mentions migration/database/users/created_at/email/is_active/id -> add \"backend\"\n- If story mentions test_user_ or acceptance test -> add \"qa\" and \"tests\"\n- Priority -> High if urgent/blocker/ASAP, otherwise Medium\n- Estimate -> 2 if <=1 AC, 3 if 2 ACs, 5 if 3+ ACs\n- num_sprints must be an integer between 3 and 5 inclusive\n\nIMPORTANT:\n- RETURN ONLY valid JSON (no markdown, no explanation).\n- Top-level response must be an object with keys:\n  { \"project_title\": \"...\", \"sprint_capacity\": <number>, \"num_sprints\": <3-5>, \"stories\": [ ... ] }\n\nNow extract from the raw user stories below. Preserve all original text for context.\n\nRAW USER STORIES:\n${rawStories}\n\nReturn JSON only.`;\n\n\n// --- Build body object you'll POST to Ollama (ready to stringify) ---\nconst bodyForOllama = {\n  model: \"gpt-oss:120b\",    // change to your desired cloud model\n  prompt: prompt,\n  format: \"json\",\n  stream: false\n};\n\n// Return both prompt and bodyForOllama\nreturn [\n  {\n    json: {\n      prompt,\n      bodyForOllama,\n      _debug_preview_lines: storyLines.slice(0,10) // small debug preview (optional)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        176
      ],
      "id": "8881e4c2-20f9-42e1-8fbd-c9facd27fc90",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ollama.com/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 751a6c5a5f5a402fa391a99d2b6d3e46.ikDku8a4-zLW_KqmOn23eFSL\",\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json[\"bodyForOllama\"]) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        368
      ],
      "id": "c065e67b-c6ed-43ca-bc28-b2664b6989c7",
      "name": "LLM Node"
    },
    {
      "parameters": {
        "jsCode": "// Simple Parse LLM output (Function node)\n// Make sure the LLM node name below matches your workflow: \"LLM Node\"\n\nfunction stripFences(s) {\n  if (!s) return s;\n  s = s.trim();\n  // remove ```json ... ``` or ``` ... ```\n  if (s.startsWith(\"```\")) {\n    s = s.replace(/^```(?:json)?\\s*/, \"\").replace(/\\s*```$/, \"\");\n  }\n  return s;\n}\n\nlet raw = null;\n\n// try common locations on the LLM node\ntry {\n  const nn = $node[\"LLM Node\"]; // <-- change name here if your node is named differently\n  if (nn) {\n    const j = nn.json;\n    // nn.json may be an array or object\n    if (Array.isArray(j) && j.length) {\n      raw = j[0].response || j[0].text || j[0].output || null;\n    } else if (j && typeof j === \"object\") {\n      raw = j.response || j.text || j.output || null;\n    }\n  }\n} catch (e) {\n  // ignore, try fallback below\n}\n\n// fallback: maybe the Function node itself received the LLM item as input\nif (!raw && items && items[0] && items[0].json) {\n  raw = items[0].json.response || items[0].json.text || null;\n}\n\nif (!raw) {\n  // always return an item so downstream doesn't break\n  return [{ json: { error: \"LLM response not found - check node name and incoming data\" } }];\n}\n\n// strip fences then parse\nconst cleaned = stripFences(raw);\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  return [{\n    json: {\n      error: \"Failed to parse LLM JSON\",\n      message: err.message,\n      rawPreview: cleaned.slice(0, 1000) // small preview for debugging\n    }\n  }];\n}\n\n// normalize output and return single item with structured data\nconst out = {\n  project_title: parsed.project_title || null,\n  sprint_capacity: parsed.sprint_capacity || null,\n  num_sprints: parsed.num_sprints || null,\n  stories: Array.isArray(parsed.stories) ? parsed.stories : []\n};\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        176
      ],
      "id": "41b8a16c-0f25-43bd-bd39-38a2a4a7b4bd",
      "name": "ParseLLM"
    }
  ],
  "pinData": {},
  "connections": {
    "US Input": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Board": {
      "main": [
        [
          {
            "node": "genList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "genList": {
      "main": [
        [
          {
            "node": "Create List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create List": {
      "main": [
        [
          {
            "node": "mapLists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Card": {
      "main": [
        [
          {
            "node": "MergeCardData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapLists": {
      "main": [
        [
          {
            "node": "formatCardData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatCardData": {
      "main": [
        [
          {
            "node": "Create Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Checklist": {
      "main": [
        [
          {
            "node": "PrepareChecklistItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist Request": {
      "main": [
        [
          {
            "node": "Add Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeCardData": {
      "main": [
        [
          {
            "node": "Checklist Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareChecklistItems": {
      "main": [
        [
          {
            "node": "AddChecklistItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddChecklistItems": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "LLM Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Node": {
      "main": [
        [
          {
            "node": "ParseLLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseLLM": {
      "main": [
        [
          {
            "node": "Create Board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "executionTimeout": -1
  },
  "versionId": "a9599461-ef24-4d6f-ab4e-c459e7410062",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "744490006193b9cc367739a2f1c78dafedf1298ed7a63abc616d759e1dd3d8a1"
  },
  "id": "JgL4ipoMjAxDsZMJ",
  "tags": []
}